@model ClientMvc.ModelViews.EventsViewModel

<div id="view-all">
    @await Html.PartialAsync("Secret1", Model)
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}